.added {
    background-color: hsl(120, 40%, 20%);
    color: hsl(0, 0%, 100%);
    display: none;
    font-size: 2rem;
    opacity: .7;
    position: absolute;
    text-align: center;
    top: 14%;
    left: 42%;
    width: auto;
    height: 4rem;

    &.active {
        display: block;
        animation: hideMe 2s forwards;
    }
    @keyframes hideMe{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}