.added {
    align-items: center;
    background-color: hsl(120, 40%, 20%);
    border-radius: 6rem;
    color: hsl(0, 0%, 100%);
    display: none;
    font-size: 2rem;
    opacity: .7;
    padding: .6rem;
    position: absolute;
    text-align: center;
    top: 14%;
    left: 40%;
    width: auto;
    height: 4rem;

    p {
        margin-top: .6rem;
    }

    &.success {
        display: block;
    }
    &.error {
        background-color: hsl(0, 100%, 50%);
        display: block;
    }
}