.slider {
    background-color: #353540;

    .slider-image{
        width: 100%;
    }

    .slider-title {

        position: absolute;
        top: 20%;
        left:  20%;
        
        h4 {
            background-color: #cacaca;
            border-radius: 8px;
            color: #664e00;
            font-size: 2em;
            opacity: 70%;
            padding: 1rem;
        }
    }

    .slider-button {

        position: absolute;
        top: 30%;
        left:  20%;

        button {
            border: none;
            border-radius: 8px;
            background-color: #997500;
            cursor: pointer;
            padding: 1rem;
            transition-duration: 0.4s;
            
            
        }
        
        button:hover {
            background-color: #997500;
            box-shadow: 0 12px 16px 0 #ffffff62, 0 18px 50px 0 #ffffff62;
            color: hsl(0, 0%, 100%);
        }
    }
}