.slider {
    background-color: #353540;

    .slider-image {
        z-index: 1;
    }
    
    .slider-title {
        background-color: #cacaca;
        border-radius: 8px;
        font-size: 2em;
        left: 12%;
        opacity: 70%;
        position: absolute;
        padding: 2%;
        top: 22%;
        z-index: 2;

        h4 {
            color: #664e00;
        }
    }

    .slider-button button {
        border: none;
        border-radius: 8px;
        background-color: #997500;
        right: 12%;
        padding: 2%;
        position: absolute;
        top: 23%;
        transition-duration: 0.4s;
        z-index: 2;


    }
    
    .slider-button button:hover {
      background-color: #997500;
      box-shadow: 0 12px 16px 0 #ffffff62, 0 18px 50px 0 #ffffff62;
      color: #ffffff;
    }
}