.slider {
    background-color: #353540;

    .slider-elements {
        position: absolute;

        .slider-title {
            
            h4 {
                background-color: #cacaca;
                border-radius: 8px;
                color: #664e00;
                font-size: 2em;
                opacity: 70%;
                padding: 2%;
            }
        }

        .slider-button {

            button {
                border: none;
                border-radius: 8px;
                background-color: #997500;
                padding: 2%;
                transition-duration: 0.4s;
                
                button:hover {
                    background-color: #997500;
                    box-shadow: 0 12px 16px 0 #ffffff62, 0 18px 50px 0 #ffffff62;
                    color: #ffffff;
                }
            }
        }
    }
}